.cards {
    flex-wrap: wrap;

}

.card {
    height: 200px;
    width: 150px;
    margin: 15px;
    border-radius: 15px;
    border: 2px solid rgb(0, 0, 0) ;
    box-shadow: 1px 4px 12px rgb(107, 107, 107);
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    img {
        height: 100%;
        width: 100%;
    }
}

.back-image {
    background-image: url('./image/brawl-logo.jpg')!important;
    background-size: cover!important;
    background-repeat: no-repeat!important;
    background-position: 50%!important;
}

.selected{
    transform: scale(1.1);
}