.win {
    font-size: 40px;
    height: 100%;
    width: 100%;
    color: red;    
    background-size: cover;
    background-position: center;
    img {
        height: 50%;
        width: 50%;
    }
}