.btn-start {
    border: 2px solid rgb(0, 0, 0) ;
    font-size: 25px;
    border-radius: 15px;
    color: red;
    text-shadow: rgb(71, 71, 71) 2px 2px 2px, rgb(71, 71, 71) -1px -1px 1px, rgb(71, 71, 71) -1px 1px 1px, rgb(71, 71, 71) 1px -1px 1px;       
}